In [1]:
import numpy as np

In [2]:
an_array = np.array(object=[3,33,333])
an_array

array([  3,  33, 333])

In [3]:
an_array[0], an_array[-1]

(3, 333)

In [4]:
#2d array
twod_array = np.array(object=[[1, 11], [2, 22]])
twod_array, twod_array[0][-1], twod_array[0]

(array([[ 1, 11],
        [ 2, 22]]),
 11,
 array([ 1, 11]))

In [5]:
twod_array[0][-1] = 999999999
twod_array

array([[        1, 999999999],
       [        2,        22]])

In [6]:
zer1 = np.zeros((2,2,))
zer1

array([[0., 0.],
       [0., 0.]])

In [7]:
full1 = np.full((2, 2), 200)
full1

array([[200, 200],
       [200, 200]])

In [8]:
np.eye(3,3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [9]:
full1.shape

(2, 2)

In [10]:
np.random.random((3,3))

array([[0.77029433, 0.72956181, 0.73010072],
       [0.55576896, 0.16345952, 0.15472864],
       [0.66545289, 0.82980347, 0.22594031]])

In [11]:
an_array = np.array(object=[[1, 11, 111], [2, 22, 222], [3, 33, 333]])
an_array

array([[  1,  11, 111],
       [  2,  22, 222],
       [  3,  33, 333]])

In [12]:
an_array[1:2]

array([[  2,  22, 222]])

In [13]:
arr2 = np.array(object=[[1, 11, 111, 1111], [2, 22, 222, 2222], [3, 33, 333, 3333]])
arr2

array([[   1,   11,  111, 1111],
       [   2,   22,  222, 2222],
       [   3,   33,  333, 3333]])

In [14]:
row_select = arr2[2,:]
row_select

array([   3,   33,  333, 3333])

In [15]:
col_select = arr2[:,2]
col_select

array([111, 222, 333])

In [16]:
arr2[1:2,:]

array([[   2,   22,  222, 2222]])

In [19]:
filter1 = arr2>9
filter1

array([[False,  True,  True,  True],
       [False,  True,  True,  True],
       [False,  True,  True,  True]])

In [22]:
arr2[filter1]

array([  11,  111, 1111,   22,  222, 2222,   33,  333, 3333])

In [23]:
ex1 = np.array([12.5, 13.5], dtype=np.float64)
ex2 = np.array([12, 13], dtype=np.int64)

In [24]:
x = np.array([[111, 112],[114, 115]])
y = np.array([[120, 130],[140, 150]])

In [25]:
z = x+y 
z

array([[231, 242],
       [254, 265]])

In [26]:
np.add(x,y)

array([[231, 242],
       [254, 265]])

In [28]:
np.subtract(x,y)

array([[ -9, -18],
       [-26, -35]])

In [29]:
np.multiply(x,y)

array([[13320, 14560],
       [15960, 17250]])

In [31]:
np.divide(x,y)

array([[0.925     , 0.86153846],
       [0.81428571, 0.76666667]])

In [34]:
arr_rand = 10*np.random.random((2,6))
arr_rand

array([[8.9764761 , 6.90229291, 3.25677489, 0.92388603, 2.22896511,
        3.80267938],
       [2.77866804, 0.64494755, 4.00226681, 7.63319413, 8.08873809,
        8.65868437]])

In [36]:
np.mean(arr_rand)

4.82479778362108

In [38]:
arr_rand.mean()

4.82479778362108

In [39]:
arr_rand.mean(axis=1)

array([4.3485124 , 5.30108317])

In [40]:
arr_rand.mean(axis=0)

array([5.87757207, 3.77362023, 3.62952085, 4.27854008, 5.1588516 ,
       6.23068187])

In [41]:
np.median(arr_rand)

3.902473095218653

In [43]:
aar3 = np.array([1,1,2,3,5,6,6,6])
np.unique(aar3)

array([1, 2, 3, 5, 6])

In [44]:
s1 = np.array(['xx', 'yy', 'zz'])
s2 = np.array(['xx', 'yy', 'zz', 'aa'])

In [45]:
np.intersect1d(s1, s2)

array(['xx', 'yy', 'zz'], dtype='<U2')

In [51]:
np.union1d(s1, s2)

TypeError: union1d() missing 1 required positional argument: 'ar2'

In [56]:
s4 = np.array([1,2,3])
s3 = np.array([4,5,6])
s5 = np.concatenate((s3, s4))
s5

array([4, 5, 6, 1, 2, 3])

In [57]:
s6 = np.array_split(s5, 3)
s6

[array([4, 5]), array([6, 1]), array([2, 3])]

In [68]:
s7 = np.concatenate((s5, (np.array([7,8,9,10,11,12]) )) )
s7.sort()

In [71]:
s7.reshape(6,2)

array([[ 1,  2],
       [ 3,  4],
       [ 5,  6],
       [ 7,  8],
       [ 9, 10],
       [11, 12]])